body{
    background-color: #F1EEEC;
    overflow: hidden;
}
iframe{
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 300ms linear 0s;
}