:root{
    --primary: #F1EEEC;
    --text: #647C6E;
    --frankFont: 'Franky', serif;
}
@keyframes fadeMe {
    0%{opacity:0;}
    100%{opacity:1;}
}

/* Frank Ruhl Libre */
@font-face {
    font-family: 'Franky';
    src: url('../Frank_Ruhl_Libre/FrankRuhlLibre-Light.ttf') format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: 'Franky';
    src: url('../Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf') format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: 'Franky';
    src: url('../Frank_Ruhl_Libre/FrankRuhlLibre-Medium.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Franky';
    src: url('../Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf') format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Franky';
    src: url('../Frank_Ruhl_Libre/FrankRuhlLibre-Black.ttf') format("truetype");
    font-weight: 600;
}
body{
    font-family: 'Franky', serif;
    background-color: var(--primary);
}
.first{
    background-color: var(--primary);
    /* overflow: hidden !important; */
}
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    min-height: calc(100% - 95px);
    width: 100%;
    margin: 0;
    padding-bottom: 95px;
    overflow-x: hidden;
    background-color: var(--primary);
    transition: opacity 300ms linear;
    animation: fadeMe 300ms linear forwards;
}
.vFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDiv{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: 600px;
    background-image: url(../img/first_screen_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.imgDiv::after{
    position: absolute;
    content: "האחד";
    text-align: center;
    width: 100%;
    top: calc(50% - 140px);
    font-family: var(--frankFont);
    font-size: 70px;
    font-weight: 400;
    color: white;
}
.textDiv{
    font-family: var(--frankFont);
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    color: var(--text);
    position: absolute;
    bottom: 20vh;
    z-index: 2;
    pointer-events: none;
}

.header{
    position: fixed;
    height: 132px;
    width: 100%;
    top: 0;
    background-color: var(--primary);
    z-index: 99;
}
.header .header{
    position: relative;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    direction: rtl;
    display: flex;
    width: 100%;
    height: 95px;
    opacity: 0;
    gap: 0;
    background-color: var(--primary);
    border-top: 1px solid var(--text);
    pointer-events: none;
    transition: opacity 300ms linear;
}
.footer button{
    font-family: var(--frankFont);
    color: var(--text);
    font-weight: 300;
    font-size: 20px;
    flex-grow: 1;
    background-color: var(--primary);
    border: 0;
    margin: 0;
    outline: none;
}
.blackText{
    font-weight: 600 !important;
}

h1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    direction: rtl;
    color: var(--text);
    padding: 32px 0;
    padding-bottom: 3em;
    background-color: var(--primary);
}
.flexDiv{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    margin-top: 132px;
    /* margin-bottom: 95px; */
    /* padding-bottom: 200px; */
    /* height: calc(100vh - 132px); */
    overflow: hidden;
    height: fit-content;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center top;
    min-height: 70vh;
    transition: background-image 300ms linear 0s;
}
.flexDiv a{
    color: var(--text);
}
.storyDiv{
    color: var(--text);
    text-align: right;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    background-repeat: no-repeat;
    background-size: 0;
    direction: rtl;
    margin-bottom: 80px;
    transition: all 300ms linear 0s;
}
.storyDiv p{
    margin-bottom: 56px;
}
#storyMenu, #dataMenu{
    position: fixed;
    width: calc(100% - 96px);
    padding: 48px;
    height: calc(100% - 178px);
    left: 0;
    top: 0;
    font-family: var(--frankFont);
    font-weight: 400;
    background-color: #F8F6F5;
    color: rgba(0,0,0,0.2);
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    overflow: scroll;
    direction: rtl;
    transform: translateY(120%);
    transition: transform 300ms ease-out;
}
#storyMenu a, #dataMenu a{
    color: var(--text);
}
#storyMenu b, #dataMenu b{
    color: var(--text);
    font-weight: 600;
}
a, button{
    cursor: pointer;
}
#storyMenu hr, #dataMenu hr{
    margin: 40px 0;
    color: var(--text);
}
.closeButton, .infoButton, .forButton, .backButton{
    position: fixed;
    top: 40px;
    left: 40px;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    z-index: 99;
}
.infoButton{
    top: 80px;
    background-size: 65%;
    background-image: url(../img/info.svg);
}
.forButton, .backButton{
    background-size: 35%;
    background-image: url(../img/chev.svg);
}
.backButton{
    left: auto;
    right: 40px;
    transform: rotate(180deg);
}

#moreData{
    position: fixed;
    top: 5em;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 0 2px #f59774 inset;
    border-radius: 50%;
    transition: opacity 100ms linear 0ms, transform 300ms ease-in-out 0s;
}
#infoPage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Franky', serif;
    font-weight: 300;
    opacity: 0;
    pointer-events: none;
}
#infoPage::first-line{
    font-weight: 700;
}
.infoTop{
    padding: 128px;
    background-image: url(../img/first_screen_01.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
.openCross{
    transform: rotate(135deg);
}
#svgLayer, #dataLayer{
    position: absolute;
    width: 100%;
    /* mix-blend-mode: multiply; */
    height: 100%;
    top: -3vh;
    transform-origin: center;
    transform: scale(1);
    /* transform: scale(0.63); */
    z-index: 9;
    transition: opacity 300ms linear 0ms;
}
#dataLayer{
    top: 0;
    /* top: 132px;
    height: calc(100% - 132px); */
}
#clothFrame{
    position: absolute;
    border: none;
    outline: none;
    width: 100vw;
    height: calc(100vh - 132px - 95px);
    top: 132px;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}
@media only screen and (max-device-width: 480px){
    #svgLayer{
        transform: scale(1.6);
        /* top: 264px; */
        /* top: -11vh; */
        /* top: -16vh; */
        /* width: 200%; */
    }
}